body  {
    color: white;
    background: rgb(5, 54, 9);
    margin: 0px;
    font-family: "Roboto", sans-serif;
}


header{
    border-bottom: solid 2px rgb(0, 0, 0);
    padding: 20px;
    font-size: 30px;
    color: rgb(252, 248, 248);
}
section{
    background: rgb(40, 117, 29);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}
h1{
    font-size: 100%;
}

